/* RESET BÁSICO */
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'Roboto', sans-serif;
  background-color: #FAF9F6; /* Beige Crema */
  color: #1E3A5F;
  overflow-x: hidden;
  min-height: 100vh;
  
  /* Textura sutil de papel para elegancia */
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.05'/%3E%3C/svg%3E");
}


body::before {
  content: "";
  position: fixed;
  top: -100px;
  right: -50px;
  width: 500px;
  height: 500px;
  background: linear-gradient(135deg, #1E3A5F 0%, #2c5282 100%);
  border-radius: 44% 56% 70% 30% / 30% 60% 40% 70%; 
  z-index: -1; 
  opacity: 0.15;
  animation: floatShape 20s infinite ease-in-out;
}


body::after {
  content: "";
  position: fixed;
  bottom: -50px;
  left: -100px;
  width: 600px;
  height: 600px;
  background: linear-gradient(45deg, #D4A373 0%, #f3d5b5 100%);
  border-radius: 66% 34% 31% 69% / 57% 32% 68% 43%; /* Otra forma orgánica */
  z-index: -1;
  opacity: 0.2;
}


#root::before {
  content: "";
  position: fixed;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 60px;
  height: 80%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill='%231E3A5F' fill-opacity='0.1'%3E%3Cpath d='M20 25c-3 0-5-2-5-5s2-5 5-5 5 2 5 5-2 5-5 5zm-8-8c-2 0-3-1-3-3s1-3 3-3 3 1 3 3-1 3-3 3zm16 0c-2 0-3-1-3-3s1-3 3-3 3 1 3 3-1 3-3 3zm-4-9c-2 0-3-1-3-3s1-3 3-3 3 1 3 3-1 3-3 3zm-8 0c-2 0-3-1-3-3s1-3 3-3 3 1 3 3-1 3-3 3z'/%3E%3C/g%3E%3C/svg%3E");
  z-index: -1;
  mask-image: linear-gradient(to bottom, transparent, black, transparent);
  -webkit-mask-image: linear-gradient(to bottom, transparent, black, transparent);
}


@keyframes floatShape {
  0%, 100% { transform: translate(0, 0) rotate(0deg); }
  50% { transform: translate(20px, 20px) rotate(5deg); }
}